<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>


<% if @search_names %>
<ul>
  <% @search_names.each do |repo| %>
    <%= repo["name"] %><br>
<li><%= link_to repo["html_url"], repo["html_url"] %><br>
<li><%= repo["description"] %><br><br>
  <% end %>
</ul>
<% end %>
